{% extends "layout.html" %}

{% block title %}
    {{ dynamic_route | title }}
{% endblock %}

{% block main %}

    {% if route_not_valid %}
        <h1 style="color: crimson; margin-top: 40px;">{{ route_not_valid }} is an Invalid Route!</h1>

    {% elif more_options %}

        <h3>More Options</h3>

        <ol style="font-size: 23px; margin-top: 40px;">
            {% for option in more_options %}
                <a href="{{ url_for('more') }}/{{ option | replace(' ', '-') }}"><li style="margin: 15px; list-style-type: none;">{{ option | title }}</li></a>
            {% endfor %}
        </ol>

    {% elif dynamic_route %}

        {% if dynamic_route | lower == "password" %}

            <h1>Change Password</h1>
            
            <form method="POST" action="{{ url_for('more') }}">
                <input class="passwordInput" required type="password" name="old_password" autocomplete="off" autofocus placeholder="Old Password" {% if old_password %}value="{{ old_password }}"{% endif %}>
                <input class="passwordInput" required type="password" name="new_password" autocomplete="off" placeholder="New Password" {% if new_password %}value="{{ new_password }}"{% endif %}>
                <input class="passwordInput" required type="password" name="confirm_password" autocomplete="off" placeholder="Confirm Password" {% if confirm_password %}value="{{ confirm_password }}"{% endif %}>

                <button type="submit">Change Password</button>
            </form>

            <button style="margin-top: 12px;" id="showPasswords">Show/Hide Password</button>

        {% elif dynamic_route | lower == "add-cash" %}

            <h2>Add Cash</h2>

            <form method="POST" action="{{ url_for('more') }}">
                <input type="number" required name="new_cash" required autocomplete="off" autofocus placeholder="Additional Cash" {% if new_cash %}value="{{ new_cash }}"{% endif %}>
                <button type="submit">Add Cash</button>
            </form>

        {% elif dynamic_route == "profile-picture" %}

            <form action="/more" method="POST" enctype="multipart/form-data">
                <div id="view-profile-picture-div" style="text-align: center;">
                    
                </div>

                <button id="upload-picture-btn" onclick="document.getElementById('profile-picture-input').click()">Upload Profile Picture</button>
                <input type="file" name="profile-picture" id="profile-picture-input" autocomplete="off" required style="display: none;">

                <br>
                <button type="submit">Add Picture</button>
            </form>

        {% endif %}

    {% endif %}

{% endblock %}